[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "<2.15"
pylint-django = "*"
django-compressor = "*"
libsass = "*"

[packages]
django = "==4.1.10"
django-bootstrap4 = "*"
dj-datatables-view = "*"
django-debug-toolbar = "*"
django-markdownx = ">=4.0.0b1"
django-redis = "*"
django-rq = "*"
django-sass-processor = "*"
django-simple-menu = "*"
django-weasyprint = "*"
weasyprint = ">=53.0"
Pillow = "*"
gunicorn = "*"
gevent = "*"
markdown = "*"
markdown3-newtab = "*"
netifaces = "*"
psycopg2-binary = "*"

[requires]
python_version = "3"