[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"

[packages]
django = "==3.1.1"
django-bootstrap4 = "*"
django-compressor = "*"
django-datatables-view = "*"
django-debug-toolbar = "*"
django-markdownx = "*"
django-redis = "*"
django-sass-processor = "*"
django-simple-menu = "*"
django-weasyprint = "*"
gunicorn = "*"
gevent = "*"
libsass = "*"
markdown = "*"
markdown3-newtab = "*"
netifaces = "*"
psycopg2-binary = "*"

[requires]
python_version = "3"