{% extends "base/index.html" %}
{% load utils %}
{% load static %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block extra_head %}
    <script async src="{% static 'js/chords.js' %}"></script>
    <script defer type="text/javascript" src="{% static "datatables/datatables.min.js" %}"></script>
    <script defer type="text/javascript" src="{% static "datatables/accent-neutralize.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.15/jsrender.min.js"
            integrity="sha512-6heofwTnm0osmeEuz47jQLMVpAe2/ww+hZ4xvyv/kgedYO0b9mhNnsh8nUQZrmcdbaDkxrN+1K4SV6L+V4EH6Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
            defer>
    </script>
    <script type="module" src="{% static 'js/js.cookie.js' %}"></script>
    <script type="module" src="{% static 'js/Options.js' %}"></script>
{%  endblock %}
{% block extra_options %}
<div class="me-2 mt-1 form-floating">
      <input type="number" value="1" min=1 class="form-control form-control-sm" id="columns" placeholder="{% trans "Columns" %}">
      <label for="columns">{% trans "Columns" %}</label>
</div>
<div class="me-2 mt-1 d-flex">
    <div><input class="form-check-input ms-2" type="checkbox" value="" id="hideChords"></div>
    <div class="ms-auto">
        <label class="form-check-label" for="hideChords">{% trans "Hide chords" %}</label>
    </div>
</div>
<div class="me-2 mt-1 d-flex">
    <div><input class="form-check-input ms-2" type="checkbox" value="" id="preventSleep"></div>
    <div class="ms-auto">
        <label class="form-check-label" for="preventSleep">{% trans "Prevent sleep" %}</label>
    </div>
</div>
<div class="me-2 mt-1 d-flex">
    <div><input class="form-check-input ms-2" type="checkbox" value="" id="onePage"></div>
    <div class="ms-auto">
        <label class="form-check-label" for="onePage">{% trans "Single page" %}</label>
    </div>
</div>
{% endblock %}
{% block body %}
    <script async>
        function show_scroll_button(event) {
            const button = $("#scroll-down")
            if (document.querySelector(".accordion-button:not(.collapsed)") !== null) {
                button.show()
                return
            }
            button.hide()
        }
    </script>
    <script id="songTemplate" type="text/x-jsrender">
        <div class="d-flex border-bottom">
        <a class="accordion-button text-decoration-none collapsed pt-2 pb-1" data-bs-toggle="collapse" href="#id<%:number%>" role="button" aria-controls="<%:number%>" aria-expanded="false" onclick="show_scroll_button(event)">
            <h2 class="d-inline me-2 <%if archived%>text-danger<%/if%>"><span style="width: 50px;"><%:number%>.</span> <%:name%></h2>
            <%if author%>
                <h6 class="d-inline" ><%:author%></h6>
            <%/if%>
        </a>
        {% if user.is_authenticated %}
            <div class="btn-group me-1">
              <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false" title="{% trans "Actions" %}">
                <i class="icon-menu"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a href="<%:edit_url%>" class="color-danger dropdown-item">
                    <i class="icon-edit"></i>{% trans "Edit" %}
                </a></li>
                <li><a type="button" href="<%:delete_url%>" class="text-danger dropdown-item">
                    <i class="icon-trash-empty"></i>{% trans "Delete" %}
                </a></li>
              </ul>
            </div>
        {% endif %}
        </div>
        <div id="id<%:number%>" class="accordion-collapse collapse" data-bs-parent="#datatable">
            <div class="input-group mb-3 mt-1">
                <%if link%>
                    <a href="<%:link%>" class="btn btn-primary" role="button" aria-pressed="true">
                        <i class="icon-youtube-play"></i>
                    </a>
                <%/if%>
                <label for="id<%:number%>-input" class="input-group-text">{% trans "Transpose" %}</label>
                <button class="btn btn-outline-secondary" type="button" data-target="id<%:number%>-input" onclick="add(event, this)"><i class="icon-plus"></i></button>
                <input class="form-control transposer text-center" type="text" value="0" min="-11" max="11" step="1" data-target="id<%:number%>-text" id="id<%:number%>-input" disabled onchange="transpose(this)" placeholder="0"/>
                <button class="btn btn-outline-secondary" type="button" data-target="id<%:number%>-input" onclick="subtract(event, this)"><i class="icon-minus"></i></button>
            </div>
            <%if capo > 0%><h5 class="ms-3">Capo <%:capo%> </h5> <%/if%>
            <div class="text-wrap song-text p-3 grid" id="id<%:number%>-text">
                <%:text%>
            </div>
        </div>
    </script>
    <div class="d-flex justify-content-center">
        <div class="spinner-border m-auto" role="status" id="spinner">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="d-none" id="content">
        <div class="input-group">
           <label class="input-group-text" for="searchInput">{% trans "Search" %}</label>
           <input type="text" class="form-control" id="searchInput" placeholder="{% trans "Number, text or author" %}">
        </div>
        <table id="datatable" class="accordion accordion-flush">
            <thead class="d-none"></thead>
            <tbody></tbody>
        </table>
        <button id="back-to-top" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-bs-toggle="tooltip" data-bs-placement="left">
            <span class="icon-up-open"></span>
        </button>
        <button id="scroll-down" class="btn btn-primary btn-lg scroll_button" role="button" title="Click to scroll down" data-bs-placement="left">
            <span class="icon-down-open"></span>
        </button>
    </div>
    <script type="module">
    import {Options, BooleanOption, PositiveIntegerOption} from "{% static 'js/Options.js' %}"
    const canWakeLock = () => 'wakeLock' in navigator;
    const root = document.querySelector(':root');

    let table = null
    function createDatatable(paging, initialSearch) {
        const options = {
            processing: true,
            select: false,
            paging: paging,
            deferRender: true,
            initComplete: function() {
                document.getElementById("content").classList.remove("d-none");
                document.getElementById("spinner").classList.add("d-none");
            },
            layout: {
                topStart: null,
                topEnd: null,
                bottom: {
                    paging: {
                        firstLast: false,
                    }
                },
                bottomStart: null,
                bottomEnd: null,
            },
            columns: [
                {
                    data: 'number',
                    visible: false,
                    searchable: true,
                },
                {
                    data: 'text',
                    render: function ( data, type, row ) {
                        {% if user.is_authenticated %}
                        row["edit_url"] = baseEditUrl.replace("0", row.id)
                        row["delete_url"] = baseDeleteUrl.replace("0", row.id)
                        {% endif %}
                        return $.render.song(row)
                    },
                    className: "accordion-item mt-1 ms-1 p-0",
                    searchable: true,
                },
                {
                    data: 'name',
                    visible: false,
                    searchable: true,
                },
                {
                    data: 'author',
                    visible: false,
                    searchable: true,
                }
            ],
            data: JSON.parse("{{ songs|escapejs }}"),
            pageLength: 50,
            // Workaround for incorrect page number
            search: {
                search: "",
            },
            {% datatables_language %}
        }
        if (initialSearch.length !== 0) {
            options["search"] = {
                "search": initialSearch
            }
        }
        return $('#datatable').DataTable(options);
    }
    {% if user.is_authenticated %}
    const baseEditUrl = "{% url "chords:edit" pk="0" %}?next={{ request.path }}"
    const baseDeleteUrl = "{% url "chords:delete" pk="0" %}?next={{ request.path }}"
    {% endif %}

    $.views.settings.delimiters("<%", "%>");
    $.fn.DataTable.ext.pager.numbers_length = 5;
    $.templates("song", "#songTemplate")
    // Fix Horizontal scrollbar
    $.fn.DataTable.ext.classes.layout.row = ""
    $.fn.DataTable.ext.classes.layout.cell = ""
    
    let wakeLock = null;
    const requestWakeLock = async () => {
          wakeLock = await navigator.wakeLock
                .request('screen')
                .catch(err => console.error('Failed to lock wake state with reason:', err.message))
    
          console.log("Screen WakeLock turned on")
    
          // listen for our release event
          wakeLock.onrelease = function(ev) {
            console.log("Screen WakeLock released")
          }
    }
    const handleVisibilityChange = () => {
        if (wakeLock !== null && document.visibilityState === 'visible') {
          requestWakeLock();
        }
    }
    
    async function preventSleep(value) {
            if(!canWakeLock()) return;
            if (value) {
                await requestWakeLock()
                document.addEventListener('visibilitychange', handleVisibilityChange);
            } else {
                if(wakeLock) {
                    wakeLock.release().then(() => {
                        wakeLock = null;
                        document.removeEventListener('visibilitychange', handleVisibilityChange);
                    });
                }
            }
    }
    let hidden = false
    function hideChords(value) {
        hidden = value
        if (value) {
            $(".chord").hide()
        } else {
            $(".chord").show()
        }
    }

    const config = new Map([
            ["hide_chords", new BooleanOption(document.getElementById("hideChords"), hideChords, false)],
            ["prevent_sleep", new BooleanOption(document.getElementById("preventSleep"), function(value) {
                preventSleep(value).then()
            }, false)],
            ["one_page", new BooleanOption(document.getElementById("onePage"), function(value) {
                if (table) {
                    table.destroy()
                    document.getElementById("content").classList.add("d-none");
                    document.getElementById("spinner").classList.remove("d-none");
                }
                table = createDatatable(!value, document.getElementById("searchInput").value)
            }, true)],
            ["columns", new PositiveIntegerOption(document.getElementById("columns"), function(value) {
                 root.style.setProperty('--chords-grid-columns', value);
            }, 1)],
        ])
    const options = new Options(config)
    if (!canWakeLock()) {
        options.set("prevent_sleep", false)
        options.elements("prevent_sleep").forEach(function (element) {
            element.disabled = true
        })
    }
    document.addEventListener('DOMContentLoaded', function () {
         const back_to_top = $('#back-to-top')
         $(window).scroll(function () {
                if ($(this).scrollTop() > 50) {
                    back_to_top.fadeIn();
                } else {
                    back_to_top.fadeOut();
                }
            });
        // scroll body to 0px on click

        back_to_top.click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $( "#scroll-down" ).click(function() {
            betterScrollDown()
        });

        table.on( 'draw', function () {
            if (hidden) {
                $(".chord").hide()
            } else {
                $(".chord").show()
            }

        });

    });

    document.getElementById("searchInput").addEventListener("input", function(event) {
        table.search(event.target.value);
        table.draw(false);
    })
    </script>
{% endblock %}
