{% extends "base/index.html" %}
{% load sass_tags %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/bootstrap-input-spinner@1.16.5/src/bootstrap-input-spinner.js"></script>
    <script src="{% static 'js/chords.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.7/jsrender.min.js"
            integrity="sha512-Y6fnBD9Z/4xDuDemzJBaYAQBGD/EOuaonQDW4W3Khf9j6gbvFd+K48MCW9UeMZrs5F/hELIuy7Mjpf/Ss4tRxQ=="
            crossorigin="anonymous">
    </script>

    <link rel="stylesheet" type="text/css" href="{% sass_src 'datatables.sass' %}">
{%  endblock %}
{% block body %}
    <script id="songTemplate" type="text/x-jsrender">
        <div class="collapsible-controller w-100 pb-1 pl-2 pt-2 border-bottom rounded"  onclick="collapsible(this,'<%:number%>')">
            <h2 class="d-inline"><span style="width: 50px;"><%:number%>.</span> <%:name%></h2>
            <%if author%>
                <h6 class="d-inline" ><%:author%></h6>
            <%/if%>
            <span class="float-right tag mr-1">
            {% if user.is_authenticated %}
                   <form class="d-inline ml-3" action="<%:edit_url%>" method="get">
                       <input class="btn btn-secondary" type="submit" value="{%  trans "Edit" %}"/>
                   </form>
                   <form class="d-inline ml-1 mr-2" action="<%:delete_url%>" method="get">
                       <input class="btn btn-danger" type="submit" value="{% trans "Delete" %}"/>
                   </form>
            {%  endif %}
            </span>
        </div>
        <div id="<%:number%>" style="display: none;">
            <div class="input-group mb-3">
                <%if link%>
                    <a href="<%:link%>" class="btn btn-primary" role="button" aria-pressed="true">
                        <i class="icon-youtube-play"></i>
                    </a>
                <%/if%>
                <div class="input-group-prepend">
                  <span class="input-group-text">{% trans "Transpose" %}</span>
                </div>
                <input class="form-control-sm raw" type="number" value="0" min="-11" max="11" step="1" previous_value=0 onchange="transpose(event, this, <%:number%> )"/>
                <%if capo > 0%><h5>Capo <%:capo%> </h5> <%/if%>
            </div>
            <div class="text-wrap song-text">
                <%:text%>
            </div>
        </div>
    </script>
    <div>
      <div class="input-group mb-2 pr-sm-1">
        <div class="input-group-prepend">
          <div class="input-group-text">{% trans "Search" %}</div>
        </div>
        <input type="text" class="form-control" id="searchInput" placeholder="{% trans "Number, text or author" %}">
      </div>
    </div>
    <table id="datatable" class="dataTable w-100 song-list table-borderless table-hover">
        <thead class="d-none"></thead>
        <tbody class="w-100 m-0"></tbody>
    </table>
    <button id="back-to-top" class="btn btn-info btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
        <span class="icon-up-open"></span>
    </button>
    <button id="scroll-down" class="btn btn-info btn-lg scroll_button" role="button" title="Click to scroll down" data-placement="left">
        <span class="icon-down-open"></span>
    </button>
    <script defer>
    $.views.settings.delimiters("<%", "%>");
    $.fn.DataTable.ext.pager.numbers_length = 5;
    const table = $('#datatable').DataTable({
        processing: true,
        select: false,
        deferRender: true,
        drawCallback: function () {
            const selector = $(".raw[type='number']")
            selector.inputSpinner({
                decrementButton: "<i class=\"icon-minus\"></i>", // button text
                incrementButton: "<i class=\"icon-plus\"></i>",
                groupClass: "transposer",
            });
            selector.toggleClass("raw")
        },
        dom: 'rt<"mt-2 ml-1"p>',
        columns: [
            {
                data: 'number',
                visible: false,
                searchable: true,
            },
            {
                data: 'text',
                render: function ( data, type, row ) {
                    return $("#songTemplate").render(row);
                },
                searchable: true,
            },
            {
                data: 'name',
                visible: false,
                searchable: true,
            },
            {
                data: 'author',
                visible: false,
                searchable: true,
            }
        ],
        data: JSON.parse("{{ songs|escapejs }}"),
        pageLength: 50,
        {% if request.LANGUAGE_CODE == "cs"  %}
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.21/i18n/Czech.json"
            },
        {% endif %}
    });

    $(document).ready(function(){
         const back_to_top = $('#back-to-top')
         $(window).scroll(function () {
                if ($(this).scrollTop() > 50) {
                    back_to_top.fadeIn();
                } else {
                    back_to_top.fadeOut();
                }
            });
        // scroll body to 0px on click

        back_to_top.click(function () {
            back_to_top.tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $( "#scroll-down" ).click(function() {
            const scrollAmount = (typeof window.outerHeight != 'undefined') ? Math.max(window.outerHeight, $(window).height()):$(window).height()
            console.log(scrollAmount)
            $('html, body').animate({
                scrollTop: `+=${0.8 * scrollAmount}`
             }, 800);
        });

    });

    $("#searchInput").on("input", function (event) {
        table.search($(this).val());
        table.draw();
    });
    </script>
{% endblock %}