{% extends "base/index.html" %}
{% load utils %}
{% load static %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block extra_head %}
    <script async src="{% static 'js/chords.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/simple-datatables.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.15/jsrender.min.js"
            integrity="sha512-6heofwTnm0osmeEuz47jQLMVpAe2/ww+hZ4xvyv/kgedYO0b9mhNnsh8nUQZrmcdbaDkxrN+1K4SV6L+V4EH6Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
            defer>
    </script>
    <script type="module" src="{% static 'js/js.cookie.js' %}"></script>
    <script type="module" src="{% static 'js/Options.js' %}"></script>
{%  endblock %}
{% block extra_options %}
<div class="ms-2 me-2 mt-1 form-floating">
      <input type="number" value="1" min=1 class="form-control form-control-sm" id="columns" placeholder="{% trans "Columns" %}">
      <label for="columns">{% trans "Columns" %}</label>
</div>
<div class="me-2 mt-1 d-flex">
    <div><input class="form-check-input ms-2" type="checkbox" value="" id="hideChords"></div>
    <div class="ms-auto">
        <label class="form-check-label" for="hideChords">{% trans "Hide chords" %}</label>
    </div>
</div>
<div class="me-2 mt-1 d-flex">
    <div><input class="form-check-input ms-2" type="checkbox" value="" id="preventSleep"></div>
    <div class="ms-auto">
        <label class="form-check-label" for="preventSleep">{% trans "Prevent sleep" %}</label>
    </div>
</div>
<div class="me-2 mt-1 d-flex">
    <div><input class="form-check-input ms-2" type="checkbox" value="" id="onePage"></div>
    <div class="ms-auto">
        <label class="form-check-label" for="onePage">{% trans "Single page" %}</label>
    </div>
</div>
{% endblock %}
{% block body %}
    <script async>
        function show_scroll_button(event) {
            const button = document.getElementById("scroll-down");
            if (document.querySelector(".accordion-button:not(.collapsed)") !== null) {
                button.classList.remove("d-none")
                return;
            }
            button.classList.add("d-none")
        }
    </script>
    <script id="songTemplate" type="text/x-jsrender">
        <div class="d-flex border-bottom">
        <a class="accordion-button text-decoration-none collapsed pt-2 pb-1" data-bs-toggle="collapse" href="#id<%:number%>" role="button" aria-controls="<%:number%>" aria-expanded="false" onclick="show_scroll_button(event)">
            <h2 class="d-inline me-2 <%if archived%>text-danger<%/if%>"><span style="width: 50px;"><%:number%>.</span> <%:name%></h2>
            <%if author%>
                <h6 class="d-inline" ><%:author%></h6>
            <%/if%>
        </a>
        {% if user.is_authenticated %}
            <div class="btn-group me-1">
              <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false" title="{% trans "Actions" %}">
                <i class="icon-menu"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a href="<%:edit_url%>" class="color-danger dropdown-item">
                    <i class="icon-edit"></i>{% trans "Edit" %}
                </a></li>
                <li><a type="button" href="<%:delete_url%>" class="text-danger dropdown-item">
                    <i class="icon-trash-empty"></i>{% trans "Delete" %}
                </a></li>
              </ul>
            </div>
        {% endif %}
        </div>
        <div id="id<%:number%>" class="accordion-collapse collapse <%if shown%>show<%/if%>" data-bs-parent="#datatable">
            <div class="input-group mb-3 mt-1">
                <%if link%>
                    <a href="<%:link%>" class="btn btn-primary" role="button" aria-pressed="true">
                        <i class="icon-youtube-play"></i>
                    </a>
                <%/if%>
                <label for="id<%:number%>-input" class="input-group-text">{% trans "Transpose" %}</label>
                <button class="btn btn-outline-secondary" type="button" data-target="id<%:number%>-input" onclick="add(event, this)"><i class="icon-plus"></i></button>
                <input class="form-control transposer text-center" type="text" value="0" min="-11" max="11" step="1" data-target="id<%:number%>-text" id="id<%:number%>-input" disabled onchange="transpose(this)" placeholder="0"/>
                <button class="btn btn-outline-secondary" type="button" data-target="id<%:number%>-input" onclick="subtract(event, this)"><i class="icon-minus"></i></button>
            </div>
            <%if capo > 0%><h5 class="ms-3">Capo <%:capo%> </h5> <%/if%>
            <div class="text-wrap song-text p-3 grid" id="id<%:number%>-text">
                <%:text%>
            </div>
        </div>
    </script>
    <div class="d-flex justify-content-center">
        <div class="spinner-border m-auto" role="status" id="spinner">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div id="content">
        <table id="datatable" class="accordion accordion-flush">
            <thead class="d-none"></thead>
            <tbody></tbody>
        </table>
        <button id="back-to-top" class="btn btn-primary btn-lg back-to-top d-none" role="button" title="Click to return on the top page" data-bs-toggle="tooltip" data-bs-placement="left">
            <span class="icon-up-open"></span>
        </button>
        <button id="scroll-down" class="btn btn-primary btn-lg scroll_button d-none" role="button" title="Click to scroll down" data-bs-placement="left" onclick="betterScrollDown()">
            <span class="icon-down-open"></span>
        </button>
    </div>
    <script type="module">
    import {Options, BooleanOption, PositiveIntegerOption} from "{% static 'js/Options.js' %}"
    const canWakeLock = () => 'wakeLock' in navigator;
    const root = document.querySelector(':root');

    const data = JSON.parse("{{ songs|escapejs }}");
    let obj = {
        headings: Object.keys(data[0]),

        // data array
        data: []
    };

    // Loop over the objects to get the values
    for ( let i = 0; i < data.length; i++ ) {

        obj.data[i] = [];

        for (let p in data[i]) {
            if( data[i].hasOwnProperty(p) ) {
                obj.data[i].push(data[i][p]);
            }
        }
    }
    let table = null
    window.jsrender.views.settings.delimiters("<%", "%>")
    const template = window.jsrender.templates("#songTemplate")
    {% if user.is_authenticated %}
    const baseEditUrl = "{% url "chords:edit" pk="0" %}?next={{ request.path }}"
    const baseDeleteUrl = "{% url "chords:delete" pk="0" %}?next={{ request.path }}"
    {% endif %}
    function createDatatable(paging) {
        return new window.simpleDatatables.DataTable(document.getElementById("datatable"), {
            data: obj,
            classes: {
                "table": "accordion accordion-flush datatable w-100",
                "paginationList": "pagination",
                "paginationListItem": "page-item",
                "paginationListItemLink": "page-link",
                "active": "active",
            },
            sortable: false,
            hiddenHeader: true,
            perPageSelect: false,
            rowRender: function (rowValue, tr, index) {
                const textarea = document.createElement("textarea");
                textarea.innerHTML = rowValue.cells[7].data;
                const number = rowValue.cells[6].text
                const row = {
                    "number": number,
                    "name": rowValue.cells[1].data,
                    "capo": rowValue.cells[2].text,
                    "author": rowValue.cells[3].data,
                    "link": rowValue.cells[4].text,
                    "archived": rowValue.cells[5].text === "true",
                    "id": rowValue.cells[0].text,
                    "text": textarea.value,
                    "shown": document.getElementById("id" + number)?.classList.contains("show") ?? false,
                }
                {% if user.is_authenticated %}
                row["edit_url"] = baseEditUrl.replace("0", row.id)
                row["delete_url"] = baseDeleteUrl.replace("0", row.id)
                {% endif %}
                return template.render(row)
            },
            columns: [
                {
                    select: 0,
                    type: 'number',
                    hidden: true,
                },
                {
                    select: 1,
                    type: 'string',
                },
                {
                    select: 3,
                    type: 'string',
                },
                {
                    select: [4,5],
                    hidden: true,
                },
                {
                    select: 6,
                    type: "number",
                },
                {
                    select: 7,
                    type: 'string',
                },
            ],
            paging: paging,
            perPage: 50,
            template: (options, dom) => `<div class='${options.classes.top}'>
                <div class="input-group ${options.classes.search}">
                   <label class="input-group-text" for="search">{% trans "Search" %}</label>
                   <input type="search" class="form-control ${options.classes.input}" name="search" aria-controls="datatable" placeholder="{% trans "Number, text or author" %}">
                </div>
                <div class='${options.classes.container}'${options.scrollY.length ? ` style='height: ${options.scrollY}; overflow-Y: auto;'` : ""}></div>
                <div class='${options.classes.bottom}'>
                {#<div class='${options.classes.info}'></div>#}
                <nav class='${options.classes.pagination}'></nav>
            </div>`
        });
    }

    let wakeLock = null;
    const requestWakeLock = async () => {
          wakeLock = await navigator.wakeLock
                .request('screen')
                .catch(err => console.error('Failed to lock wake state with reason:', err.message))
    
          console.log("Screen WakeLock turned on")
    
          // listen for our release event
          wakeLock.onrelease = function(ev) {
            console.log("Screen WakeLock released")
          }
    }
    const handleVisibilityChange = () => {
        if (wakeLock !== null && document.visibilityState === 'visible') {
          requestWakeLock();
        }
    }
    
    async function preventSleep(value) {
            if(!canWakeLock()) return;
            if (value) {
                await requestWakeLock()
                document.addEventListener('visibilitychange', handleVisibilityChange);
            } else {
                if(wakeLock) {
                    wakeLock.release().then(() => {
                        wakeLock = null;
                        document.removeEventListener('visibilitychange', handleVisibilityChange);
                    });
                }
            }
    }
    let hidden = false
    function hideChords(value) {
        hidden = value
        document.querySelectorAll(".chord").forEach(el => {
            if (value) {
                el.classList.add("d-none")
            } else {
                el.classList.remove("d-none")
            }
        })

    }

    const config = new Map([
            ["hide_chords", new BooleanOption(document.getElementById("hideChords"), hideChords, false)],
            ["prevent_sleep", new BooleanOption(document.getElementById("preventSleep"), function(value) {
                preventSleep(value).then()
            }, false)],
            ["one_page", new BooleanOption(document.getElementById("onePage"), function(value) {
                if (table) {
                    table.options.paging = !value
                    table.update()
                }
                else {
                    table = createDatatable(!value)
                    table.on("datatable.init", () => {
                        document.getElementById("content").classList.remove("d-none");
                        document.getElementById("spinner").classList.add("d-none");
                    })
                    table.on("datatable.page", () => {
                        hideChords(document.getElementById("hideChords").checked)
                    })
                    table.on("datatable.update", () => {
                        hideChords(document.getElementById("hideChords").checked)
                    })
                }
            }, true)],
            ["columns", new PositiveIntegerOption(document.getElementById("columns"), function(value) {
                 root.style.setProperty('--chords-grid-columns', value);
            }, 1)],
        ])
    const options = new Options(config)
    if (!canWakeLock()) {
        options.set("prevent_sleep", false)
        options.elements("prevent_sleep").forEach(function (element) {
            element.disabled = true
        })
    }
    document.addEventListener('DOMContentLoaded', function () {
        const back_to_top = document.getElementById("back-to-top");
        window.addEventListener('scroll', function (event) {
            if (window.scrollY > 50) {
                back_to_top.classList.remove("d-none");
            } else {
                back_to_top.classList.add("d-none");
            }
            event.stopPropagation()
        });
        // scroll body to 0px on click

        back_to_top.addEventListener("click", (function () {
          window.scroll({
            top: 0,
            left: 0,
            behavior: 'smooth'
          });
        }));
    });
    </script>
{% endblock %}
