{% load markdown %}
{% load i18n %}

<span class="d-none index">{{ song.song_number }}</span>
<span class="d-none text">{{ song.text }}</span>
<span class="d-none name">{{ song.name }}</span>
<span class="d-none author">{{ song.author }}</span>
 <div class="collapsible-controller w-100 mb-2" onclick="collapsible(this,'{{ song.song_number }}')">
     <h2 class="d-inline"><span style="width: 50px;">{{ song.song_number }}.</span> {{ song.name }} {% if song.capo %}/Capo {{ song.capo }}/{% endif %}</h2>
    {%  if song.author %}
        <h6 class="d-inline" >{{ song.author }}</h6>
    {%  endif %}
    {% if user.is_authenticated %}
       <form class="d-inline ml-3" action="{% url 'chords:edit' primary_key=song.id %}" method="get">
           <input class="btn btn-secondary" type="submit" value="{%  trans "Edit" %}"/>
       </form>
       <button class="btn btn-danger ml-2" onclick="confirmDelete(event, '{{ song.name }}', '{% url 'chords:delete' primary_key=song.id %}')">
            {% trans "Delete" %}
       </button>
    {%  endif %}
 </div>
 <div id="{{ song.song_number }}" style="display: none;">
   <div class="input-group mb-3">
        {% if song.link %}
            <a href="{{ song.link }}" class="btn btn-primary" role="button" aria-pressed="true">
                <i class="icon-youtube-play"></i> {#{% trans "Youtube link" %}#}
            </a>
        {% endif %}
        <div class="input-group-prepend">
          <span class="input-group-text">{% trans "Transpose" %}</span>
        </div>
        <input class="form-control-sm" type="number" value="0" min="-11" max="11" step="1" previous_value=0 onchange="transpose(event, this, {{ song.song_number }} )"/>
    </div>
    <div class="text-wrap song-text">
    {{ song.text|show_markdown|safe }}
    </div>
 </div>