{% extends "base/frame.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block header %} {% trans "Number assignment" %} {% endblock %}
{% block title %} {% trans "Number assignment" %} {% endblock %}

{% block framed_body %}
  <p class="text-center font-weight-bold">{% trans "Please, now assign each song a number that will be used in the PDF" %}</p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {{ formset.management_form }}
    {{ formset.non_form_errors.as_ul }}
    <table id="formset" class="table table-bordered form">
    {% for form in formset.forms %}
      {% if forloop.first %}
      <thead><tr>
        {% for field in form.visible_fields %}
        <th>{{ field.label|capfirst }}</th>
        {% endfor %}
      </tr></thead>
      {% endif %}
      <tr class="{% cycle row1 row2 %}">
      {% for field in form.visible_fields %}
        <td>
        {# Include the hidden fields in the form #}
        {% if forloop.first %}
          {% for hidden in form.hidden_fields %}
          {{ hidden }}
          {% endfor %}
        {% endif %}
          {{ field.errors.as_ul }}
          {{ field }}
        </td>
      {% endfor %}
      </tr>
    {% endfor %}
    </table>
    {% buttons %}
        <button type="submit" class="btn btn-primary">{% trans "Finish" %}</button>
    {% endbuttons %}
  </form>
  {{ form.media }}
{% endblock %}