{% extends "base/frame.html" %}
{% load utils %}
{% load i18n %}
{% load types %}
{% load static %}

{% block title %} {% trans "PDF Requests" %} {% endblock %}
{% block header %} {% trans "PDF Requests" %}  {% endblock %}

{% block extra_head %}
<script defer type="text/javascript" src="{% static "datatables/datatables.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "datatables/datatables.min.css" %}"/>
<script type="module" src="{% static 'js/js.cookie.js' %}"></script>
<script type="module" src="{% static 'js/Options.js' %}"></script>
{% endblock %}

{% block framed_body %}
    <div class="btn-group mb-2 float-center" data-bs-toggle="buttons">
      <input type="radio" id="manual" class="btn-check" name="options" value="MA">
      <label class="btn btn-outline-info" for="manual">{% trans "Manual" %}</label>

      <input type="radio" id="automatic" class="btn-check" name="options" value="EV">
      <label class="btn btn-outline-info" for="automatic">{% trans "Automated" %}</label>
    </div>

    <div class="table-responsive">
        <table id="datatable" class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">{% trans "Title" %}</th>
              <th scope="col">{% trans "Last updated" %}</th>
              <th scope="col" data-visible="false" data-searchable="true">HIDDEN</th>
              <th scope="col">{% trans "Type" %}</th>
              <th scope="col">{% trans "Status" %}</th>
              <th scope="col" data-orderable="false">{% trans "Link" %}</th>
              <th scope="col">{% trans "Time elapsed" %}</th>
              <th scope="col">{% trans "Category" %}</th>
              <th scope="col" data-searchable="false" data-orderable="false">{% trans "Actions" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for request in requests %}
            <tr>
              <td>{{ request.title }}</td>
              <td data-order="{{ request.update_date|date:"c" }}">{{ request.update_date }}</td>
              <td>{{ request.type }}</td>
              <td>{{ request.get_type_display }}</td>
              <td style="background-color: {{ request.status|get_status_color }}">{{ request.get_status_display }} {% if request.status == "PR" %}{{ request.progress }}/7 {% endif %} {% if request.status == "SC" %} {{ request.scheduled_at }} {% endif %}</td>
              <td>
                  {% if request.file %}
                    <a href="{{ request.file.url }}">{{ request.file|filename }}</a>
                  {% else %}
                    {% trans "None" %}
                  {% endif %}
              </td>
              <td>{{ request.time_elapsed|default_if_none:0 }} s</td>
              <td>
                  {% if request.category %}
                    <a href="{% url "category:index" slug=request.category.slug %}">{{ request.category.name }}</a>
                  {% else %}
                    {% trans "None" %}
                  {% endif %}
              </td>
              <td>
                  <div class="btn-group me-1">
                      {% if request.status != "QU" and requests.status != "SC" %}
                        <a href="{% url "pdf:regenerate" pk=request.id %}" class="btn btn-primary">{% trans "Regenerate" %}</a>
                      {% else %}
                        <button class="btn btn-outline-secondary" disabled>{% trans "Already in queue" %}</button>
                      {% endif %}
                      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">{% trans "Toggle Dropdown" %}</span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end">
                          <li>
                              {% if request.file %}
                                <a href="{% url "pdf:remove_file" pk=request.id %}" class="dropdown-item text-danger">{% trans "Delete File" %}</a>
                              {% else %}
                                <span class="dropdown-item text-secondary">{% trans "No file present" %}</span>
                              {% endif %}
                          </li>
                      </ul>
                  </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    <script type="module">
    import {Options, CheckboxOption} from "{% static 'js/Options.js' %}"

    let table = null
    function switch_tab(value) {
        if (table) table.column(2).search(value).draw()
    }

    const config = new Map([
        ["tab", new CheckboxOption("input[type=radio][name=options]", switch_tab, "MA")],
    ])
    const options = new Options(config)
    const initial_value = options.get("tab")
    table = $('#datatable').DataTable({
        processing: true,
        order: [[ 1, "desc" ]],
        layout: {
            bottomStart: null,
            bottomEnd: null,
            bottom: {
                paging: {
                    firstLast: false,
                }
            },
        },
        searchCols: [
          null,
          null,
          { "search": initial_value},
        ],
        {% datatables_language %}
    });
    </script>
{% endblock %}