{% extends "base/frame.html" %}
{% load static %}
{% load utils %}
{% load i18n %}
{% load types %}
{% load sass_tags %}

{% block title %} {% trans "PDF Requests" %} {% endblock %}
{% block header %} {% trans "PDF Requests" %}  {% endblock %}
{% block extra_head %}
<script defer type="text/javascript" src="{% static "datatables/datatables.min.js" %}"></script>
<script defer type="text/javascript" src="{% static "datatables/accent-neutralize.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% sass_src 'datatables.sass' %}">
<link rel="stylesheet" type="text/css" href="{% static "datatables/datatables.min.css" %}"/>
{% endblock %}

{% block framed_body %}
    <p class="text-center fw-bold">{% trans "Please select which songs would you like to include in the pdf" %}</p>
    <div class="d-flex flex-row justify-content-center">
    {% for category in categories %}
      <div class="form-check form-switch align-middle me-3">
          <input type="checkbox" class="form-check-input category-checkbox" name="online" id="{{ category.slug }}-checkbox" cat_name="{{ category.name }}"  checked>
          <label class="form-check-label" for="{{ category.slug }}-checkbox">{{ category.name }}</label>
      </div>
    {% endfor %}
    </div>
    <table id="datatable" class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Author</th>
                <th>Capo</th>
                <th class="d-none">Categories</th>
            </tr>
        </thead>
        <tbody>
        {% for song in songs %}
            <tr>
                <td>{{ song.id }}</td>
                <td>{{ song.name  }}</td>
                <td>{{ song.author }}</td>
                <td>{{ song.capo }}</td>
                {% with song.categories.all as cats %}
                <td class="d-none">{{ cats|join:"," }}</td>
                {% endwith %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form class="hidden" id="assign_form" action="{% url "pdf:assign" %}"></form>
    <script type="module">
    const categories = {{ slugs|safe }};
    const form = $('#assign_form');
    function addSong(id) {
        $("<input>")
            .attr("type", "hidden")
            .attr("name", "songs")
            .val(id)
            .appendTo(form);
    }
    $.fn.DataTable.ext.pager.numbers_length = 5;
    var table = $('#datatable').DataTable( {
        processing: true,
        select: 'multi+shift',
        layout: {
            bottomStart: 'info',
            bottomEnd: {
                paging: {
                    firstLast: false,
                }
            },
            bottom1: "buttons"
        },
        columns: [
            {visible: true, searchable: false,},
            null,
            null,
            {searchable: false, orderable: false,},
            {visible: false, orderable: false,}
        ],
        {% datatables_language %}
        buttons: [
            {
                text: '{% trans "Select All" %}',
                action: function (e, dt, node, config) {
                    dt.rows( {search:'applied'} ).select()
                }
            },
            {
                 extend: "selectNone",
                 text: '{% trans "Deselect all" %}'
            },
            {
                extend: "selected",
                className: "btn btn-success",
                text: '{% trans "Finish selecting" %}',
                action: function (e, dt, node, config) {
                    const rows = dt.rows( { selected: true } );
                    const data = rows.data();
                    for (var i = 0; i < rows.count(); i++) {
                        const id = data[i][0]
                        addSong(id)
                    }
                    form.submit()
                }
            },
        ],

    });
    function get_checkbox_value(x) {
        const checkbox = $(`#${x}-checkbox`);
        return {[x]: {"name": checkbox.attr("cat_name") , "checked": checkbox.is(":checked")}}
    }
    $(".category-checkbox").on("change", function (event) {
        table.columns(4).search()
        let dictionary = Object.assign({}, ...categories.map((x) => get_checkbox_value(x)));
        const names = Object.values(dictionary)
                    .filter( value => value.checked)
                    .map( value => value.name);
        if (names.length === 0) {
            table.columns(4).search(-1).draw()
            return
        }
        const regex = `(${names.join("|")})`
        table.columns(4).search(regex, true, false, false).draw()
    })
    </script>
{% endblock %}