{% extends "base/frame.html" %}
{% load i18n %}

{% block title %} {% trans "Categories" %} {% endblock %}
{% block header %} {% trans "Categories" %} {% endblock %}

{% block framed_body %}
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">{% trans "Name" %}</th>
          <th scope="col">{% trans "URL pattern" %}</th>
          <th scope="col">{% trans "PDF generation" %}</th>
          <th scope="col">{% trans "Language" %}</th>
          <th scope="col">{% trans "Actions" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
        <tr>
          <td>{{ category.name }}</td>
          <td><a href="{% url "category:index" slug=category.slug %}">{% url "category:index" slug=category.slug %}</a></td>
          <td>{% if category.generate_pdf %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
          <td>{{ category.request.locale }}</td>
          <td>
              <div class="btn-group me-1">
                  <a href="{% url "category:edit" pk=category.id %}" class="btn btn-primary">{% trans "Edit" %}</a>
                  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">{% trans "Toggle Dropdown" %}</span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                          {% if category.request.status == "SC" %}
                            <a href="{% url "pdf:wait" pk=category.request.id %}" class="dropdown-item text-secondary pe-none">{% trans "Already in queue" %} ({{ category.request.scheduled_at|time }})</a>
                          {% elif category.request.status == "QU"  %}
                            <a href="{% url "pdf:wait" pk=category.request.id %}" class="dropdown-item text-secondary pe-none">{% trans "Already in queue" %}</a>
                          {% else %}
                            <a href="{% url "category:generate" pk=category.id %}" class="dropdown-item text-primary">{% trans "Generate PDF" %}</a>
                          {% endif %}
                      </li>
                      <li><a href="{% url "category:delete" pk=category.id %}" class="dropdown-item text-danger">{% trans "Delete" %}</a></li>
                  </ul>
              </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="text-center">
        <a href="{% url "category:add" %}" class="btn btn-primary">{% trans "Add Category" %}</a>
    </div>
    <script defer>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
{% endblock %}