{% extends "base/frame.html" %}
{% load i18n %}

{% load types %}

{% block title %} {% blocktrans with filename=pdf.name %}Waiting for render of {{ filename }}{% endblocktrans %} {% endblock %}
{% block header %} {% blocktrans with filename=pdf.name %}Waiting for render of {{ filename }}{% endblocktrans %} {% endblock %}

{% block extra_head %}
<script type="module">
    const statuses = [
        '{% trans "Waiting for start" %}',
        '{% trans "Parsing HTML" %}',
        '{% trans "Parsing CSS" %}',
        '{% trans "Applying CSS" %}',
        '{% trans "Creating formatting structure" %}',
        '{% trans "Generating layout" %}',
        '{% trans "Creating PDF" %}',
        '{% trans "Adding PDF metadata" %}',
    ]
    let stop = false
    const status = document.getElementById("status")
    const progress = document.getElementById("progress")
    const link = document.getElementById("link")
    function setStatusCode(code) {
        const value = Math.ceil(code / 7 * 100)
        progress.innerText = code + "/7"
        progress.setAttribute("aria-valuenow", value)
        progress.setAttribute("style", "width: " + value + "%")
    }
    function process_response(data) {
        console.log(data);
        setStatusCode(data["progress"])
        if (data["ready"]) {
            status.innerText ="{% trans "Completed" %}"
            console.log("Ready for download");
            progress.classList.remove("progress-bar-striped")
            progress.classList.add("bg-success")
            link.innerText = data["link"]
            link.setAttribute("href", data["link"])
            {#link.click()#}
            return true
        }
        status.innerText = statuses[data["progress"]]
        return false
    }
    const sleep = duration => new Promise(resolve => setTimeout(resolve, duration));
    const poll = (promiseFn, duration) => promiseFn().then(
        (stop) => !stop ? sleep(duration).then(() => poll(promiseFn, duration)): false);

    poll(() => fetch('{% url "pdf:files:info" pk=pdf.id %}')
        .then(response => response.json())
        .then(process_response)
        .catch(err => {
          console.log(err);
          return true
        }), 1000);
</script>
{% endblock %}

{% block framed_body %}

<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="w-25">{% trans "File name" %}</th>
                <td>{{ pdf.filename }}.pdf</td>
            </tr>
            <tr>
                <th scope="row" class="w-25">{% trans "Progress" %}</th>
                <td>
                    <div class="progress">
                      <div id="progress" class="progress-bar progress-bar-striped" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row" class="w-25">{% trans "Status" %}</th>
                <td><span id="status"></span></td>
            </tr>
            <tr>
                <th scope="row" class="w-25">{% trans "Link" %}</th>
                <td><a id="link" href="" target="_blank"></a></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary float-center" href="{% url "pdf:files:list" %}">{% trans "Back to all files" %}</a>
</div>
{% endblock %}