.navbar { background-color: #f9f9f9; border-bottom-color: #c4c2bd; }

.navbar .navbar-brand { color: #7793f3; }

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus { color: #e81c1c; }

.navbar .navbar-text { color: #7793f3; }

.navbar .navbar-text a { color: #e81c1c; }

.navbar .navbar-text a:hover, .navbar .navbar-text a:focus { color: #e81c1c; }

.navbar .navbar-nav { white-space: nowrap; }

.navbar .navbar-nav .nav-link { color: #7793f3; margin: 0 0.25em; }

.navbar .navbar-nav .nav-link:not(.disabled):hover, .navbar .navbar-nav .nav-link:not(.disabled):focus { color: #e81c1c; }

.navbar .navbar-nav .dropdown-menu { background-color: #f9f9f9; border-color: #c4c2bd; }

.navbar .navbar-nav .dropdown-menu .dropdown-item { color: #7793f3; }

.navbar .navbar-nav .dropdown-menu .dropdown-item:hover, .navbar .navbar-nav .dropdown-menu .dropdown-item:focus, .navbar .navbar-nav .dropdown-menu .dropdown-item.active { color: #e81c1c; background-color: #c4c2bd; }

.navbar .navbar-nav .dropdown-menu .dropdown-divider { border-top-color: #c4c2bd; }

.navbar .navbar-nav .nav-item.active .nav-link, .navbar .navbar-nav .nav-item.active .nav-link:hover, .navbar .navbar-nav .nav-item.active .nav-link:focus, .navbar .navbar-nav .nav-item.show .nav-link, .navbar .navbar-nav .nav-item.show .nav-link:hover, .navbar .navbar-nav .nav-item.show .nav-link:focus { color: #e81c1c; background-color: #c4c2bd; }

.navbar .navbar-toggle { border-color: #c4c2bd; }

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus { background-color: #c4c2bd; }

.navbar .navbar-toggle .navbar-toggler-icon { color: #7793f3; }

.navbar .navbar-collapse, .navbar .navbar-form { border-color: #7793f3; }

.navbar .navbar-link { color: #7793f3; }

.navbar .navbar-link:hover { color: #e81c1c; }

@media (max-width: 575px) { .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item { color: #7793f3; } .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus { color: #e81c1c; } .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item.active { color: #e81c1c; background-color: #c4c2bd; } }

@media (max-width: 767px) { .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item { color: #7793f3; } .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:focus { color: #e81c1c; } .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item.active { color: #e81c1c; background-color: #c4c2bd; } }

@media (max-width: 991px) { .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item { color: #7793f3; } .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus { color: #e81c1c; } .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item.active { color: #e81c1c; background-color: #c4c2bd; } }

@media (max-width: 1199px) { .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item { color: #7793f3; } .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus { color: #e81c1c; } .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item.active { color: #e81c1c; background-color: #c4c2bd; } }

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item { color: #7793f3; }

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:focus { color: #e81c1c; }

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item.active { color: #e81c1c; background-color: #c4c2bd; }
