@import colors
$border-color: $bgHighlight

.chord
  position: absolute
  line-height: 0
  font-weight: bold

.song-text
  margin-top: 20px
  line-height: 2
  margin-left: 10px

.asc:after
  margin-left: 3px
  //font-weight: 900
  content: '\2191'
  text-rendering: auto
  -webkit-font-smoothing: antialiased

.desc:after
  margin-left: 3px
  //font-weight: 900
  content: '\2193'
  text-rendering: auto
  -webkit-font-smoothing: antialiased

.transposer
  max-width: 200px

.collapsible-controller
  display: inline-block

.collapsible-controller > .tag:after
  content: '\02795' /* Unicode character for "plus" sign (+) */
  font-size: 13px
  color: black
  float: right
  margin-top: 10px
  margin-right: 20px
  vertical-align: middle

.collapsible-controller.unrolled > .tag:after
  content: '\2796'

.song-list
  border-left: 6px solid #ccc
td
  margin: 0
  padding: 0

/* Unicode character for "minus" sign (-) */

html, body
  height: 100%

.redir:hover
  background-color: yellow

.table .thead-dark th
  background-color: $bgDefault

.main-div
  margin: auto
  width: 90%
  text-align: center
  border: 3px solid $border-color


.scoreboard-div, .highest-div, .points-div
  position: relative
  margin: auto
  width: 100%

.highest-div
  padding: 5px

.no-margin
  margin-top: 0px
  margin-bottom: 0px

.listTable
  position: relative
  margin: auto
  border-collapse: collapse
  border: 1px solid black
  text-align: center
  width: auto !important

textarea.readonly
  resize: vertical
  background: white
  color: black
  width: 100%

.tableForm
  margin: auto

.back-to-top
    cursor: pointer
    position: fixed
    top: 20px
    right: 20px
    display: none

.scroll_button
    cursor: pointer
    position: fixed
    bottom: 20px
    right: 20px

hr
  background-color: $border-color
  height: 2px

label
  margin: auto

th
  text-align: center

input, textarea
  background-color: white
  color: black

input[type="text"], input[type="number"], input[type="password"]
  width: 100%

.languages
  margin-right: 10px

.bottomHR
  margin-bottom: 10px

.winnerHeader
  margin-top: 5px

.markdownx-preview
  text-align: left

p
  text-align: left
  margin-bottom: 3rem

.wrap
  min-height: 100%
  height: auto
  /* Negative indent footer by its height */
  margin: 0 auto -60px
  /* Pad bottom by footer height */
  padding: 0 0 60px


/* Set the fixed height of the footer here */
.footer
  height: 60px
  background-color: #f5f5f5