$bgDefault      : #f9f9f9
$bgHighlight    : #c4c2bd
$colDefault     : #7793f3
$colHighlight   : #e81c1c
$border-color: $bgHighlight

.navbar
  --bs-navbar-color: #{$colDefault}
  --bs-navbar-hover-color: #{$colHighlight}
  --bs-navbar-active-color: #{$colHighlight}
  --bs-navbar-brand-color: #{$colDefault}
  --bs-navbar-brand-hover-color: #{$colHighlight}

.dropdown-menu
  --bs-dropdown-link-color: #{$colDefault}
  --bs-dropdown-link-hover-color: #{$colHighlight}
  --bs-dropdown-link-active-color: #{$colHighlight}

//.chord
//  position: absolute
//  line-height: 0
//  font-weight: bold

.chord
  font-weight: bold
  font-size: 100%
  vertical-align: super

.song-text
  padding-top: 20px
  padding-left: 10px
  line-height: 1.5

.transposer
  max-width: 200px

.main-div
  margin: auto
  width: 90%
  text-align: center
  border: 3px solid $border-color

html, body
  height: 100%

.table .thead-dark th
  background-color: $bgDefault

.back-to-top
    cursor: pointer
    position: fixed
    top: 20px
    right: 20px
    display: none
    z-index: 10

.scroll_button
    cursor: pointer
    position: fixed
    display: none
    bottom: 20px
    right: 20px
    z-index: 10

hr
  background-color: $border-color
  height: 2px

.languages
  margin-right: 10px

.bottomHR
  margin-bottom: 10px

.markdownx-preview
  text-align: left
  border: 1px solid #ced4da

.wrap
  min-height: 100%
  height: auto
  /* Negative indent footer by its height */
  margin: 0 auto -60px
  /* Pad bottom by footer height */
  padding: 0 0 60px


.custom-link
 color: $colDefault
 &:hover
  color: $colHighlight

.small-hr
  height: 1px

.accordion-button:not(.collapsed)
  background-color: white
  color: black
  &:focus
    box-shadow: var(--bs-accordion-btn-focus-box-shadow)

.accordion-button:focus
  box-shadow: none
