{% extends "base/frame.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load static %}

{% block header %} {% trans "Song order" %} {% endblock %}
{% block title %} {% trans "Song order" %} {% endblock %}

{% block extra_head %}
<script
  src="{% static "js/jquery-3.7.1.min.js" %}"
  type="text/javascript"
  defer>
</script>
<script defer type="text/javascript" src="{% static "jquery-ui.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "jquery-ui.min.css" %}"/>
{% endblock %}

{% block framed_body %}
  <p class="text-center fw-bold">{% trans "Please, choose song order and their numbers" %}</p>
  <form method="post" action="{{ action }}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
    {{ formset.non_form_errors.as_ul }}
    <h4>{% trans "Song numbers" %}</h4>
    <div id="sortable" class="mb-3">
    {% for form in formset.forms %}
        <div class="d-flex flex-row border border-secondary pt-2 ps-2 mt-2 pe-2 rounded">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {% bootstrap_field field show_label=False size="sm" form_group_class='form-group flex-grow-1" style="pointer-events: none;"' %}
            {% endfor %}
        </div>
    {% endfor %}
    </div>

    {% bootstrap_button _("Sort by name") button_type="button" button_class="btn-secondary" id="sort"%}
    {% bootstrap_button _("Finish") button_type="submit"%}
    {{ form.media }}
  </form>
<script type="module">
    const sortable = $('#sortable')
    function reassign_numbers() {
        let i = 1;
        for (let element of sortable.find("input[type='number']")) {
            element = $(element)
            element.val((i++).toString())
        }
    }
    function sort_by_name() {
        const list = []
        for (let element of sortable.find("input[type='text']")) {
            element = $(element)
            list.push([element.val(), element.parent().parent()])
        }
        list.sort((a, b) => a[0].localeCompare(b[0]))

        sortable.empty().html(list.map((a) => a[1]));
        reassign_numbers()
    }
    $("#sort").click(sort_by_name)
    sortable.sortable({
      update: reassign_numbers
    });
    for (let element of sortable.find("input[type='number']")) {
            element = $(element)
            const parent = element.parent()
            parent.removeClass("flex-grow-1");
            parent.addClass("me-3");
            {#parent.attr("style", "")#}
            element.attr("style", "max-width: 70px;");
            {#element.attr("disabled", "");#}
    }
</script>
{% endblock %}