{% extends "base/frame.html" %}
{% load static %}
{% load utils %}
{% load i18n %}
{% load types %}
{% load django_bootstrap5 %}

{% block title %} {% trans "Create new File Template" %} {% endblock %}
{% block header %} {% trans "Create new File Template" %}  {% endblock %}
{% block extra_head %}
<script
  src="{% static "js/jquery-3.7.1.min.js" %}"
  type="text/javascript"
  defer>
</script>
<script defer type="text/javascript" src="{% static "datatables/datatables.min.js" %}"></script>
<script defer type="text/javascript" src="{% static "datatables/accent-neutralize.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static "datatables/datatables.min.css" %}"/>
{% endblock %}

{% block framed_body %}
{#    <p class="text-center fw-bold">{% trans "Please, now please fill all the details for the PDF and choose song ordering" %}</p>#}
    <form id="assign_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form songs_form %}
        {% bootstrap_form template_form %}
        <select id="select" name="songs" class="d-none" multiple="multiple"></select>
    </form>
    <p class="text-center fw-bold">{% trans "Please enter file configuration option and select which songs you would like to include" %}</p>
    <div class="d-flex flex-row justify-content-center">
    {% for category in categories %}
      <div class="form-check form-switch align-middle me-3">
          <input type="checkbox" class="form-check-input category-checkbox" name="{{ category.name }}" id="{{ category.slug }}-checkbox" checked>
          <label class="form-check-label" for="{{ category.slug }}-checkbox">{{ category.name }}</label>
      </div>
    {% endfor %}
    </div>
    <table id="datatable" class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Author</th>
                <th>Capo</th>
                <th class="d-none">Categories</th>
            </tr>
        </thead>
        <tbody>
        {% for song in songs %}
            <tr>
                <td>{{ song.id }}</td>
                <td>{{ song.name  }}</td>
                <td>{{ song.author }}</td>
                <td>{{ song.capo }}</td>
                {% with song.categories.all as cats %}
                <td class="d-none">{{ cats|join:"," }}</td>
                {% endwith %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script type="module">
    const categories = {{ slugs|safe }};
    const initial_songs = {{ initial_songs|safe }}.map(item => item.toString());
    const form = document.getElementById("assign_form");
    const select = document.getElementById("select");
    function addSong(id) {
        const option = document.createElement("option");
        option.setAttribute("value", id);
        option.setAttribute("selected", "1");
        select.appendChild(option);
    }
    $.fn.DataTable.ext.pager.numbers_length = 5;
    const table = $('#datatable').DataTable( {
        processing: true,
        select: 'multi+shift',
        layout: {
            bottomStart: 'info',
            bottomEnd: {
                paging: {
                    firstLast: false,
                }
            },
            bottom1: "buttons"
        },
        columns: [
            {visible: true, searchable: false},
            null,
            null,
            {searchable: false, orderable: false,},
            {visible: false, orderable: false,}
        ],
        {% datatables_language %}
        buttons: [
            {
                text: '{% trans "Select All" %}',
                action: function (e, dt, node, config) {
                    dt.rows( {search:'applied'} ).select()
                }
            },
            {
                 extend: "selectNone",
                 text: '{% trans "Deselect all" %}'
            },
            {
                extend: "selected",
                className: "btn btn-success",
                text: '{% trans "Finish selecting" %}',
                action: function (e, dt, node, config) {
                    const rows = dt.rows( { selected: true } );
                    const data = rows.data();
                    for (let i = 0; i < rows.count(); i++) {
                        const id = data[i][0]
                        addSong(id)
                    }
                    form.submit()
                }
            },
        ],
        initComplete: function () {
            if (initial_songs.length > 0) {
                this.dataTable().api().rows((idx, data) => initial_songs.includes(data[0])).select();
            }
        }

    });
    function get_checkbox_value(x) {
        const checkbox = document.getElementById(`${x}-checkbox`);
        return {[x]: {"name": checkbox.getAttribute("name") , "checked": checkbox.checked}}
    }
    $(".category-checkbox").on("change", function (event) {
        const column = table.columns(4)
        column.search()
        let dictionary = Object.assign({}, ...categories.map((x) => get_checkbox_value(x)));
        const names = Object.values(dictionary)
                    .filter( value => value.checked)
                    .map( value => value.name);
        if (names.length === 0) {
            column.search(-1).draw()
            return
        }
        const regex = `(${names.join("|")})`
        column.search(regex, true, false, false).draw()
    })
    
    </script>
{% endblock %}