{% extends "base/frame.html" %}
{% load i18n %}


{% block title %} {% trans 'Please confirm removal' %} {% endblock %}
{% block header %} {% trans 'Please confirm removal' %} {% endblock %}
{% block framed_body %}
  <form method="post">
    {% csrf_token %}
    <p class="text-center">{% blocktrans %}Are you sure, you want to delete {{ model_verbose_name }}{% endblocktrans %} <b>{{ identifier }}</b>?</p>
    <div class="mb-2">
      <a class="btn btn-secondary mx-auto ps-3 pe-3 "
         href="{{ success_url }}">{% trans 'No' %}</a>
      <input type="submit" class="btn btn-danger mx-auto" value="{% trans 'Yes' %}">
    </div>
  </form>
{% endblock %}
