{% load markdown %}
{% load i18n %}
{% load sass_tags %}
{% load cache %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% trans name %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'pdf.sass' %}">
</head>
<body>
    <article id="contents">
      <h1>{% trans name %}</h1>
      <p class="date">{% now "SHORT_DATE_FORMAT" %}</p>
      <h3 class="contents name">{% trans "Table of Contents" %}</h3>
      <ul>
        {% for song in sorted_songs %}
            <li><a href="#{{ song.id }}-title"></a></li>
        {% endfor %}
      </ul>
    </article>
    {% for song in songs %}
        <article class="columns">
          <h2 id="{{ song.id }}-title">{{ song.song_number }}. <span class="name">{{ song.name }}</span></h2>
          <h3>{{ song.author }} {% if song.capo > 0 %}<span class="right">Capo {{ song.capo }}</span> {% endif %}</h3>

          <section>
            {{ song.rendered_pdf_markdown|safe }}
          </section>
        </article>
    {% endfor %}
</body>
</html>
