{% load markdown %}
{% load i18n %}
{% load sass_tags %}
{% load cache %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% trans "Jerry's songs" %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'pdf.sass' %}">
</head>
<body>
    <article id="contents">
      <h1>{% trans "Jerry's songs" %}</h1>
      <h3><span class="name">{% trans "Table of Contents" %}</span></h3>
      <ul>
        {% for song in sorted_songs %}
            <li><a href="#{{ song.id }}-title"></a></li>
        {% endfor %}
      </ul>
    </article>
    {% for song in songs %}
        <article id="columns">
          <h2 id="{{ song.id }}-title">{{ song.song_number }}. <span class="name">{{ song.name }}</span></h2>
          <h3>{{ song.author }}</h3>

          <section id="columns">
            {{ song.text|show_pdf_markdown|safe }}
          </section>
        </article>
    {% endfor %}
</body>
</html>
