{% extends "base/frame.html" %}
{% load i18n %}

{% block extra_head %}
  <script defer src="https://cdn.jsdelivr.net/npm/chart.js@4.4.7/dist/chart.umd.min.js"></script>
{% endblock %}

{% block header %}{% trans "Analytics" %}{% endblock %}
{% block title %}{% trans "Analytics" %}{% endblock %}

{% block framed_body %}
  <div class="row mb-2">
    <div class="input-group me-2 col">
      <label class="input-group-text" for="keys">{% trans "Keys" %}</label>
      <select id="keys" class="form-select selects">
        <option value="" selected>{% trans "All" %}</option>
        {% for key in keys %}
          <option value="{{ key }}">{% trans key %}</option>
        {% endfor %}
      </select>
    </div>
    <div class="input-group col">
      <label class="input-group-text" for="range">{% trans "Date Range" %}</label>
      <select id="range" class="form-select pe-1 selects">
        <option value="{{ week|date:"U" }}" selected>{% trans "Week" %}</option>
        <option value="{{ month|date:"U" }}">{% trans "Month" %}</option>
        <option value="{{ year|date:"U" }}">{% trans "Year" %}</option>
      </select>
    </div>
  </div>
  <canvas id="graph" width="400" height="300" aria-label="Graph" role="img"></canvas>

  <script type="module">
      const keys_select = document.getElementById('keys')
      const range_select = document.getElementById('range')
      let canvas = null;
      Date.prototype.addDays = function (days) {
          const date = new Date(this.valueOf());
          date.setDate(date.getDate() + days);
          return date;
      }

      function getDates(startDate, stopDate) {
          const dateArray = [];
          let currentDate = startDate;
          while (currentDate <= stopDate) {
              dateArray.push(new Date(currentDate).toISOString().substring(0, 10));
              currentDate = currentDate.addDays(1);
          }
          return dateArray;
      }

      function generate_data(dates, data) {
          let values = []
          for (let date of dates) {
              values.push(date in data ? data[date] : 0)
          }
          return values
      }

      const nullDupes = data => data.map((x, i) => data[i - 1] === x && data[i + 1] === x ? null : x);

      function createChart(dates, values) {
          const suggestedMax = Math.max.apply(this, values) + 5
          const data = nullDupes(values)
          if (canvas) {
              const labels = canvas.data.labels
              labels.splice(0, labels.length)
              labels.push(...dates)

              const dataContainer = canvas.data.datasets[0].data
              dataContainer.splice(0, dataContainer.length)
              dataContainer.push(...data)
              canvas.options.scales.y.suggestedMax = suggestedMax
              canvas.update()
          } else {
              canvas = new Chart(document.getElementById("graph"), {
                  type: 'line',
                  normalized: true,
                  data: {
                      labels: dates,
                      datasets: [{
                          spanGaps: true,
                          label: "{% trans "Hits" %}",
                          data: data,
                          fill: false,
                          borderColor: 'rgb(75, 192, 192)',
                          tension: 0.01
                      }]
                  },
                  options: {
                      locale: "{{ request.LANGUAGE_CODE }}",
                      scales: {
                          x: {
                              grid: {
                                  color: 'grey'
                              }
                          },
                          y: {
                              suggestedMax: suggestedMax,
                              ticks: {
                                  beginAtZero: true,
                                  stepSize: 1
                              },
                              grid: {
                                  color: 'grey',
                              }
                          }
                      }
                  }
              });
          }
      }

      async function redraw() {
          const formData = new FormData();
          const start_date = range_select.value
          formData.append("key", keys_select.value);
          formData.append("start_date", start_date);
          await fetch("{% url "analytics:data" %}", {
              method: "POST",
              body: formData,
              headers: {'X-CSRFToken': "{{ csrf_token }}"},
              credentials: 'same-origin',
          }).then(async (response) => {
              if (response.ok) {
                  const json = await response.json();
                  const dates = getDates(new Date(parseInt(start_date) * 1e3), new Date(+new Date() + 86400000));
                  const values = generate_data(dates, json);
                  createChart(dates, values)
                  // Display output in HTML page
              } else {
                  alert("Request failed, status code: " + response.status)
              }
          })
      }

      Array.from(document.getElementsByClassName("selects")).forEach(function (element) {
          element.addEventListener('change', redraw);
      });
      redraw();
  </script>

{% endblock %}