{% load static %}
{% load bootstrap4 %}
{% load sass_tags %}
{% load i18n %}
{% load menu %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} {% trans "Jerry's songs" %} {% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
    <script   src="https://code.jquery.com/jquery-3.7.1.min.js"
			  crossorigin="anonymous"
              type="text/javascript"
              defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"
            defer></script>
    <link rel="stylesheet" type="text/css" href="{% static 'icons/css/songs.css' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'styles.sass' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'navbar4.sass' %}">
    {% block extra_head %} {% endblock %}
</head>
<body>
<div class="wrap">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">{% trans request.SITE_NAME %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% generate_menu %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-left">
                {% include "menu/bootstrap4-menu.html" with menu=menus.songbook %}
            </ul>
            <ul class="navbar-nav nav-left">
                {% include "menu/bootstrap4-menu.html" with menu=menus.files %}
            </ul>
            <ul class="navbar-nav nav-right ml-auto">
                {% include "menu/bootstrap4-menu.html" with menu=menus.pdf %}
            </ul>
            <ul class="navbar-nav nav-right">
                {% include "menu/bootstrap4-menu.html" with menu=menus.admin %}
            </ul>
            {% block extra_nav %}{% endblock %}
                    <ul class="my-lg-0 navbar-nav navbar-right languages">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "Options" %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="languageDropdown" id="options">
                        <div class="form-group d-flex ml-2 mr-2 mb-0">
                            <label for="language" class="mr-2">
                                {% trans "Language" %}
                            </label>
                            <select class="form-control" id="language" onchange="document.getElementById(this.value).submit()">
                              {% for locale in languages %}
                                <option value="{{ locale.code }}" {% if locale.code == LANGUAGE_CODE %}selected{% endif %}>{{ locale.code }}</option>
                              {% endfor %}
                            </select>
                        </div>
                        {% for locale in languages %}
                            <form id="{{ locale.code }}" action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}">
                                <input name="language" type=hidden value={{ locale.code }}>
                            </form>
                        {% endfor %}
                        <hr class="mt-2 mb-1">
                        <div class="d-flex flex-column">
                            {% block extra_options %}{% endblock %}
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="my-lg-0 navbar-nav navbar-right">
                {% include "menu/bootstrap4-menu.html" with menu=menus.account %}
            </ul>
            {% if user.is_authenticated %}
                <span class="navbar-text mr-2">{% trans "Logged as" %} <b>{{ user.username }}</b></span>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-link custom-link" role="button">{% trans "Log in" %}</a>
            {% endif %}

        </div>
    </nav>
    {% bootstrap_messages %}
    {% block body %}
        Here should be your text
    {% endblock %}
</div>
</body>
<script type="module">
$('#options').on('click', function(event){
    // The event won't be propagated up to the document NODE and
    // therefore delegated events won't be fired
    event.stopPropagation();
});
</script>
</html>