{% extends "base/error.html" %}
{% load i18n %}

{% block header %} {% trans "Not Found" %} (404)<a class="btn btn-primary float-end" href="{{ request.tenant.index_redirect }}">{% trans "Back to homepage" %}</a>{% endblock %}
{% block body %}
    {% if exception == "Resolver404" %}
        <b>{% blocktranslate with request=request_path trimmed %}
URL {{ request_path }} does not exist.
        {% endblocktranslate %}</b>
    {% else %}
        <b>{{ exception }}</b>
    {% endif %}
{% endblock %}