{% extends "admin/base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ formset.non_form_errors.as_ul }}
        <h4>{% block object_name %}{% endblock %}</h4>
        <div id="sortable" class="mb-3">
            {% for form in formset.forms %}
                <div>
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        {% bootstrap_field field layout="horizontal" show_label=False size="sm" %}
                    {% endfor %}
                    <hr>
                </div>
            {% endfor %}
        </div>
        <hr>
        <h4>{% block target %}{% endblock %}</h4>
        {% bootstrap_form form %}
        {% bootstrap_button _("Submit") button_type="submit" %}
    </form>
    {{ form.media }}
{% endblock %}